* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    width: 100%;
}

.modo-claro {
    background-color: rgb(240, 238, 238);
}

.modo-oscuro {
    background-color: black;
}

#headerContenido {
    background-color: black;
    text-align: center;
}



#headerContenidoLogo img {
    height: 80px;
    width: 80px;
}

#headerContenidoLista{
    width: 100%;
    padding-top: 23px;
}
    
#headerContenidoLista nav ul {
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
}

#headerContenidoLista nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

#botonPerfil {
    display: none;
        background: none;
        border: 0;
        color: inherit;
        font: inherit;
        line-height: normal;
        overflow: visible;
}


#botonCerrarSesion {
    display: none;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    color: white;
    font-size: 20px;
}

.lineaGris {
   height: 10px;
background-color: white;
}

.comentarioLayOut {
    color: white !important;
    background-color: black !important;
    width: 15%;
    margin-left: 27%;
    margin-bottom: 3%;
    border-radius: 7px;
    height: 6%;
    padding-bottom: 3%!important;
  
}

.comentarioLayOut h5 {
    padding-bottom: 5px;
}


.carousel-inner img {
    width: 100%;
}

.footerLogo img {
    height: 80px;
    width: 80px;
}


footer {
    background-color: rgba(55,55,55,255);
    padding-top: 60px;
  }
  
  .footerFlex {
    background-color: rgba(55,55,55,255);
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10%;

  }
  
  .footerLogo {
    padding-bottom: 5%;
    padding-bottom: 50px;
  }


  #footerFinal {
    display: flex;
    justify-content: right;
    padding-right: 3%;
    padding-bottom: 5%;
   
  
  }

#footerFinal button { 
    background: none;;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
}

#footerFinal button img {
    height: 50px;
    
}

  /* Inicio de sesión */


#mainInicio {
    background-image: url(./img/ecommerce-g549056588_1920.jpg);
    background-repeat: no-repeat;
    padding: auto;
    height: 250px;
    background-size: cover;
    height: 600px;
}
    
#contenedorGeneral {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
    
}

.containerLogin {
    padding: 10px;
    border: 1px solid rgb(71, 65, 65);
    width: 500px;
    height: 300px;
    align-items: center;
    border-radius: 7px;
    text-align: center;
    background-color:  rgba(57, 60, 57, 0.896);

}

.containerLogin  h2 {
    margin-top: 5%;
    margin-bottom: 5%;
}



#enviarFormulario {
    display: block;
   margin-left: 43%;
   margin-top: 5%;
    margin-bottom: 5px;
    
}


.containerLogin h2 {
    padding-bottom: 20px;
    
}

.containerLogin input {
    height: 30px;
    border-radius: 5px;
    padding-left: 2%;
}


#olvidadoContraseña {
    display: flex;
    justify-content: left;
    padding-top: 2%;
    margin-left: 17%;
    font-size: 15px;
}

#enviarFormulario {
    padding-left: 1%;
    padding-right: 1%;
}

.loginIncorrecto {
    padding-left: 20%;
    display: none;
    margin-top: 10%;
    color: rgb(255, 0, 0);
    font-size: 20px;
}





/* perfil */

#mainPeril {
    text-align: center;
    justify-content: center;
}
#informacionGeneral {
    margin: 20px;
    padding: 10px;
    border: 3px solid grey;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}




/* Productos */

#listaProductos {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card-productos {
    height: 290px;
    width: 200px;
    text-align: center;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 7px;
}

.card-productosOscuro {
    background-color: brown;
}

.card-productos img {
    height: 200px; 
    text-align: center;
    border-radius: 7px;

   
}

.card-body {
   text-align: center;
   justify-content: center;
   position: relative;
   margin-top: 4%;
 
}

.card-title {
    margin-bottom: 8px;
    font-size: 15px;
}

.card-precio {
    margin-bottom: 8px;
    font-size: 13px;
}

.card-text {
    padding-bottom: 8px;
    font-size: 10px;
    
}

